body {
  background-color: #3c3c3c; 
}
h1 {
  color: #3cb371;
  text-shadow: 2px 2px #2d744d;
}

p {
  color: #fcfcfc;
  font-family: monospace;
}

ul {
  color: orange;
  {

div1 {
  position: static;
  text-align: center;
  {

div2 {
  position: static;
  {
