body {
  background-color: #3c3c3c; 
}

h1.welcome {
  color: #3cb371;
  text-shadow: 2px 2px #2d744d;
}

p.message {
  color: #f80606;
  font-family: monospace;
  font-size: large;
}

p {
  color: #fcfcfc;
  font-family: monospace;
}

ul {
  color: #59ED78;
  margin-left: 25%
}

div {
  position: relative;
  text-align: center;
}

@keyframes boxofcolor {
  0%   {background-color:red; left:-1%; top:-99%;}
  25%  {background-color:yellow; left:99%; top:-1%;}
  50%  {background-color:blue; left:99%; top:99%;}
  75%  {background-color:green; left:-1%; top:99%;}
  100% {background-color:red; left:-1%; top:-1%;}
}

/* The element to apply the animation to */
  h1.animation {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: boxofcolor;
  animation-duration: 10s;
  }
