body {
  background-color: #3c3c3c; 
}
h1 {
  color: #3cb371;
  text-shadow: 2px 2px #2d744d;
}

p {
  color: #fcfcfc;
}

div1 {
  font-family: monospace;
  position: static;
  text-align: center;
  {
